 .about_container{
    background-image: url('../../images/bg12.jpg');
    background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    
        backdrop-filter: blur(10px);
    padding:2rem 0 5rem 0;
    /* opacity: 90%; */
  
    display: flex;
    justify-content: center;
    /* gap:1rem; */
    overflow: scroll;
    
   
}

.container_content{
    padding:0 0.3rem;
    display: flex;
    flex-direction: column;
    /* gap:0.2rem; */
    min-width: 270px;
    max-width:700px;
}
.container_content p {
    background-color: rgba(68, 67, 64, 0.072);
  
    color:rgb(55, 68, 113);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
    padding:0 0.3rem;
    border-radius: 2%;
    box-shadow: 0 9px 14px grey;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}

@media(max-width:600px){
    .about_container {
        padding-bottom: 7rem;
        }
}